*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_1: #BCB3E2;
    --color_2: #F1B3A0;
    --color_3: #EDE1DB;
    --color_4: #E1EFFC;
    --color_5: #000;
    --color_6: #FCE8A5;
    --color_7: #6D6D6D;
    --color_8: #C4BDF3;
    --color9:#6885BB;
    --color10:#fff;


    --txtGrande :calc(1.25rem + 3.35vw);
    --txtMediano:18px;

    --sobraFuerte:0px 0px 15px 0px rgba(0, 0, 0, 0.459);
    --sombraNormal:0px 5px 15px 0px rgba(0, 0, 0, 0.212) ;
}

body{
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}

.header_box{
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.header{
    width: 70%;
    height: auto;
    border-radius: 40px;
    background-color:var(--color10);
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header_movil{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header_movil .btn-escribenos{  
    width: 120px;
    padding: 5px 10px ;
    border-radius: 20px;
    background-color: var(--color_1);
    color: var(--color10);
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_movil h1{
    color: var(--color_1);
}
.header_movil button{
    background-color: transparent;
    border: none;
}
.header_movil button .icono {
    font-size: 20px;
    color: var(--color9);
}
.header_links{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0px;
    transition: all .2s ease;
    overflow: hidden;
}
.header_links a {
    width: 100%;
    text-align: center;
    padding: 10px;
    display: block;
    text-transform: capitalize;
    font-size: large;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color_1);
}
.header_links a:hover{
    background-color: var(--color9);
    transition: all .3s ease;
    color: var(--color10);
}
/* cuando se preciones le boton  */
.header_links.mostrar{
    height: 550px;
    display: flex;
}
.header_links_logo{
    width: 150px;
    border: none;
}
.header_links_logo img{
    border: none;
    max-width: 100%;
}
/* -------------------------------------------------- */
/* --------------------PAGINA INICIO----------------- */
/* -------------------------------------------------- */
.inicio{ 
    padding-top: 100px;
    padding-bottom: 10px;
    width: 100%;
    min-height: 100vh;  
    background-image: url('/static/img/portada.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;  
}
.inicio .inicio_titulo{
    width: 30%;
    padding:  20px;
    background-color: var(--color_4);
    align-self: flex-end;
    box-shadow: var(--sombraNormal) ;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
}
.inicio .inicio_titulo .inicio_titulo_h1{
    text-align: center;
    color: var(--color9);
    font-size: var(--txtGrande) ;
}
.inicio .inicio_logo{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--color_4);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--sombraNormal) ;
    margin-left: 10px;
}
.inicio .inicio_logo::before{
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:var(--color10);
    box-shadow: var(--sombraNormal) ;
}
.inicio .inicio_logo .inicio_logo_box{
    
    width: 60%;
    height: 60%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: var(--sombraNormal) ;
    background-color: var(--color10);
}

.inicio .inicio_logo .inicio_logo_box_img{
    max-width: 100%;
    
}

.inicio .inicio_descripcion{
    width: 600px;
    padding: 30px  ;
    background-color: var(--color_4);
   
    box-shadow: var(--sombraNormal);
    align-self: flex-end;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    
}
.inicio .inicio_descripcion .inicio_descripcion_parrafo{
    text-align:right;
    color: var(--color9);
    font-weight: 900;
}


.contacto{
    width: 100%;
    background-color: var(--color10);
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: auto;
}
.contacto_text{
    text-align: center;
}
.contacto_text h2{
    color: var(--color9);
}
.contacto_text h3{
    color: var(--color_1);
}
.contacto_links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.contacto_links_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color:var(--color9);
    border-radius: 50%;
    
}
.contacto_links_box:hover{
    opacity: .7;
}
.contacto_links_box_icon{
    font-size: 25px;
    color: var(--color10);
}

.contacto address b{
    color: var(--color9);
    font-size: var(--txtMediano);
}

.seciones_box{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.seciones_box .seccion{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.seciones_box .seccion .seccion_titulo{
    text-align: center;
    color: var(--color10);
    font-size: var(--txtGrande);
    text-shadow: 4px 3px 0px var(--color_8);
    overflow: hidden;
}
.seciones_box .seccion .seccion_contenido{
    flex-grow: 1;
    display: flex;
}
.seciones_box .seccion .seccion_contenido .seccion_contenido_text{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 30px;
    color: var(--color10);

  
}
.seciones_box  .seccion_contenido .seccion_contenido_text p{
    text-align: center;
    max-width: 70%;
    font-weight: 900;
    font-size: var(--txtMediano);
}
.seciones_box  .seccion_contenido .seccion_contenido_text a{
    width: fit-content;
    color: var(--color9);
    display: block;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--color10);
    text-decoration: none;
    font-weight: 900;
}
.seciones_box  .seccion_contenido .seccion_contenido_img{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seciones_box  .seccion_contenido .seccion_contenido_img img{
    max-width: 80%;
    animation: floating 2s infinite ease-in-out;
}
.seciones_box .seccion_1{ 
    background-color: var(--color_1);
}
.seciones_box .seccion_2{
    background-color: var(--color9);
}
.seciones_box .seccion_3{
    background-color: var(--color_4);
}
.seciones_box .seccion_4{
    background-color: var(--color_2);
}
.seciones_box .seccion .seccion_1_contenido{
    flex-direction: row-reverse;
}
.seciones_box .seccion .seccion_3_contenido{
    flex-direction: row-reverse;
}
.seciones_box .seccion_3 .seccion_3_titulo{
    color: var(--color9);
}
.seciones_box .seccion_3 .seccion_3_contenido .seccion_3_contenido_text {
    color: var(--color9);
}
.seciones_box .seccion_3 .seccion_3_contenido .seccion_3_contenido_text a{
    background-color: var(--color9);
    color: var(--color10);
}
.seciones_box .seccion_3 .seccion_3_contenido .seccion_3_contenido_img img{
    max-width: 40%;
}
.seccion_4 .seccion_4_contenido .seccion_4_contenido_text a{
    color: var(--color_2);
}


.especialidad{
    width: 100%;
    min-height: 100vh;
    background: var(--color_1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 40px;
}
.especialidad_titulo{
    font-size: var(--txtGrande);
    color: var(--color10);
    text-shadow: 4px 3px 0px var(--color_7);
}
.especialidad_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 20px;
    max-width: 700px;
    padding-bottom: 30px;
}
.especialidad_box_card{
    background-color: var(--color10);
    padding: 50px 20px 20px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: var(--sobraFuerte);
}
.especialidad_box_card_titulo{
    position: absolute;
    top: 20px;
    background-color: var(--color_3);
    color: var(--color_7);
    padding: 10px;
    max-width: 150px;
    font-size: var(--txtMediano);
    text-align: center;
    box-shadow: var(--sombraNormal);
    transform: rotate(-5deg);
    
}
.especialidad_box_card_img{
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
}
.especialidad_box_card_img img{
    width: 100%;
}


.esp_detalle{
    padding-top: 100px;
    background-color: var(--color9);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.esp_detalle_box{
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}
.esp_detalle_img_box{
    background-color: var(--color10);
    padding: 20px;
    max-width: 500px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: var(--sombraNormal);
}
.esp_detalle_img_box img{
    max-width: 100%;
    border-radius: 40px;
}
.esp_detalle_titulo{
    font-size: var(--txtGrande);
    color: var(--color10);
    text-shadow: 4px 3px 0px var(--color_7);
}
.esp_detalle_parrafo{
    color: var(--color10);
    font-size: var(--txtMediano);
    
}
.volver_especialidades{
    text-decoration: none;
}
.volver_especialidades i{
    color: var(--color10);
    font-size: 30px;

}


.doctores{
    min-height: 100vh;
    background-color: var(--color9);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top:100px ;
}
.doctores hr{
    width: 50%;
    border:1px solid var(--color9);
}
.doctores_titulo_h1{
    font-size: var(--txtGrande);
    color: var(--color10);
    text-shadow: 4px 3px 0px var(--color_7);
}
.doctores_box{
    max-width: 800px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    
}
.doctores_box_card{
    background-color: var(--color10);
    padding: 40px 20px 20px 20px;
    border-radius: 20px;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.doctores_box_card_doctor {
    width: 200px;
    background-color: var(--color_3);
    text-align: center;
    padding: 10px ;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    left: -40px;
    transform: rotate(-40deg);
    box-shadow: var(--sombraNormal);
    color: var(--color9);
}
.doctores_box_card_img{
    max-width: 250px;
    overflow: hidden;
    border-radius: 20px;
    
}
.doctores_box_card_img img{
    max-width: 100%;
}
.doctores_box_card_especialidad{
    text-align: center;
    color: var(--color9);
}






.preguntas{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
    background-color: var(--color_2);
}
.preguntas_titulo h1{
    font-size: var(--txtGrande);
    color: var(--color10);
    text-shadow: 4px 3px 0px var(--color_7);
}

.preguntas_box{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 20px;
    max-width: 700px;
}
.preguntas_box_card{
    background-color: var(--color9);
    width: 300px;
    height:fit-content;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--sombraNormal);
}
.preguntas_box_card_categoria{
    background-color: var(--color10);
    display: flex;
    justify-content: center;
    padding: 10px;
}
.preguntas_box_card_text{
    padding: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--color10);
    gap: 20px;
}
.preguntas_box_card_text hr{
    width:50% ;
}
.preguntas_box_card_text_pregunta{
    font-weight: 900;
}
.preguntas_box_card_text_respuesta{
    text-align: center;
}
.preguntas_box_fecha{
    padding: 10px;
    text-align: center;
    background-color: var(--color10);
    font-weight: bold;
    color: var(--color_7);
}

.PageContacto{
    min-height: 100vh;
    background-color: var(--color_4);
    padding: 100px 0px 100px 0px;
    display: flex;
    gap: 0px;
    flex-direction: column;
    gap: 30px;
}

.PageContacto_titulo{
    width: fit-content;
    text-align: center;
    font-size: var(--txtGrande);
    color: var(--color9);
    text-shadow: 4px 3px 0px var(--color_1);
}
.PageContacto_box{

    display: flex;
    flex-direction: column;
    gap: 50px;
}
.PageContacto_box_{
    display: flex;
    justify-content: space-between;
    
}
.PageContacto_box_text {
    height: 150px;
    padding: 10px;
    width: 70%;
    font-size: var(--txtGrande);
    color: var(--color_4);
    background-color: var(--color_8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-top-right-radius: 150px;
    border-bottom-right-radius:150px ;
}
.PageContacto_box_img{
    height: auto;
    width: 20%;
    background-color: var(--color_8);
    display: flex;
    justify-content: center;
    align-items: center;

    border-top-right-radius: 150px;
    border-bottom-right-radius:150px ;
}
.PageContacto_box_img .bi{
    font-size: var(--txtGrande);
    color: var(--color_4);
}
.PageContacto_box_numero{
    flex-direction: row-reverse;
}
.PageContacto_box_ubicacion_imagen_text{
    font-size: xx-large;
}
.PageContacto_box_ubicacion_imagen,
.PageContacto_box_numero_imagen_text,
.PageContacto_box_llamada_imagen{
    border-top-right-radius: 0;
    border-bottom-right-radius:0;

    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

.PageContacto_box_img:hover {
    background-color: var(--color10);
    color: var(--color9);
    transition: .2s  linear;
}
    


.consejos{
    background-color: var(--color9);
    padding-top:100px ;
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 20px;
    min-height: 100vh;
}
.consejos_titulo{
    text-align: center;
    font-size: var(--txtGrande);
    color: var(--color10);
    text-shadow: 4px 3px 0px var(--color_1);
}
.consejos_box{
    padding: 20px;
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: space-evenly;
    justify-content: center;
}
.consejos_box_card{
    border-radius: 30px;
    flex-grow: 1;
    max-width: 700px;
    display: flex;
    overflow: hidden;
    
}
.consejos_box_card_img{
    width: 50%;
    background-color: var(--color_8);
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;

    color: var(--color9);
    font-weight: bold;
}
.consejos_box_card_img_box{    
    border-radius: 30px;
    overflow: hidden;
}
.consejos_box_card_img_box img{
    width: 100%;
}
.consejos_box_card_text{
    background-color: var(--color10);
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;

    color: var(--color9);
    text-align: start;
}
.consejos_box_card_text h2{
   text-transform: capitalize;
}

.consejos_box_card_text a{
    background-color: var(--color9);
    color: var(--color10);
    padding: 10px;
    text-decoration: none;
    border-radius: 30px;
}
.consejos_box_card_text a:hover{
    opacity: .6;
}

.footer{
    background-color: var(--color_4);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;

}
.footer ul{
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer ul h3{
    color: var(--color9);
    padding-bottom: 20px;
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color_1);
    font-weight: bold;
}
.footer ul li a:hover{
    text-decoration: underline;
}
.footer::before{
    z-index: 3;
    width: 70px;
    height: 70px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color10);
    border-top-right-radius: 100px;
    box-shadow: var(--sombraNormal);
}
.footer::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--color10);
    z-index: 3;
    width: 70px;
    height: 70px;
    border-top-left-radius: 100px;
    box-shadow: var(--sombraNormal);
}



@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, 0px); }   
}

@media screen and (max-width:900px){
    .inicio{
        align-items: center;
    }
    .inicio .inicio_titulo{
        display: none;
    }
    .inicio .inicio_descripcion{
        border-radius: 20px;
        width: 70%;
        align-self: auto;
    }
    .inicio .inicio_descripcion .inicio_descripcion_parrafo{
        text-align: justify;
    } 
    
}
@media screen and (max-width:800px){
    
    .seciones_box .seccion .seccion_contenido{
        flex-direction: column;
        gap: 40px;
        justify-content: space-evenly;
        padding-bottom: 40px;
    }
    .seciones_box .seccion .seccion_titulo{
        padding: 40px 0px;
    } 
}
@media screen and (max-width:700px){
    .consejos_box_card{
        justify-content: center;
        flex-direction: column;
        
    }
    .consejos_box_card_img{
        width: 100%;
    }
    .consejos_box_card_text{
        width: 100%;
    }
}
@media screen and (max-width:500px){
    .inicio .inicio_descripcion{
        width: 90%;
    }
    .PageContacto_box_text {
        height: 100px;
        padding: 0;
    }
    .PageContacto_box_ubicacion_imagen_text{
        font-size: large;
    }
    .PageContacto_box_img{
        background-color: var(--color10);
        color: var(--color9);
        transition: .2s  linear;
    }
}
.buscador{
    max-width: 400px;
    position: relative;
    background-color: var(--color10);
    border-radius: 50px;
    display: flex;  
    overflow: hidden;
    box-shadow: var(--sombraNormal);
}
.buscador input{
    flex-grow: 1;
    background-color: var(--color10);    
    padding: 10px;
    border: none;
    outline: none;
}


.buscador button{
    flex-grow: 1;
    padding: 10px;
    border: none;
    background-color: var(--color9);
    color: var(--color10);
}
 
.advertencia{
    color: var(--color9);
    background-color: var(--color10);
    border-radius: 20px;
    padding: 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}