{% extends "base.html" %}
{% load static %}
{% block title %}Consejos{% endblock %}
{% block contenido %}

<div class="consejos-detalles">
    <div class="consejos_detalles_box">
        <h1 class="consejos_titulo">{{consejo.titulo}}</h1>  
        <h3 class="consejo_especialidad">{{consejo.especialidad}}</h3>
        <h4 class="consejo_fecha">{{consejo.fecha}}</h4>
        <p class="consejo_descripcion">{{consejo.descripcion}}</p>
        <div class="img_box_consejo">
            <img src="{{consejo.img.url}}" alt="" class="img_box_consejo_img">
        </div>
        <a href="{% url 'pagina_consejo' %}" class="volver_consejo">
            <i class="bi bi-arrow-left-circle-fill">Volver</i>
        </a>
    </div>
</div>


{% endblock contenido %}