{% extends "base.html" %}
{% load static %}
{% block title %}Doctores{% endblock %}



{% block contenido %}
<div class="doctores">
    <div class="doctores_titulo">
        <h1 class="doctores_titulo_h1">Doctores</h1>
    </div>
    <div class="doctores_box">
        {% for doc in doctores %}
            <div  class="doctores_box_card aparecer">
                <div class="doctores_box_card_doctor">
                    <h2>{{doc.alias}}</h2>
                </div>
                <a href="#" class="doctores_box_card_img">
                    <img src="{{doc.img.url}}" alt="" >
                </a>
                <hr>
                <div class="doctores_box_card_especialidad">
                    <h2>{{doc.especialidad}}</h2>
                </div>
            </div>
        {%  endfor %}
    </div>
</div>
{% endblock contenido %}