{% extends "base.html" %}
{% load static %}
{% block title %}Nosotros{% endblock %}


{% block contenido %}
<div class="nosotros_page">
    <div class="nosotros">
        <h1 class="nosotros_titulo">Acerca de Nosotros</h1>
        <p class="parrafo_nosotros">Bienvenido a nuestra Clínica Pediátrica, donde nos dedicamos a proporcionar atención médica excepcional y compasiva para niños de todas las edades. En el corazón de nuestra práctica está el compromiso con la salud y el bienestar de nuestros pequeños pacientes, junto con el apoyo y la tranquilidad para sus familias.</p>
        <h2 class="subtitulo_nosotros">Nuestro Compromiso</h2>
        <p class="parrafo_nosotros">Nuestro equipo está formado por profesionales altamente capacitados y dedicados que se esfuerzan por ofrecer la mejor atención posible en un ambiente seguro y acogedor. Nos enorgullece trabajar en estrecha colaboración con cada familia para garantizar que sus necesidades y preocupaciones sean escuchadas y atendidas de manera integral.</p>
        <h2 class="subtitulo_nosotros">Atención Integral</h2>
        <p class="parrafo_nosotros">Nos especializamos en proporcionar una atención médica integral que abarca desde el cuidado preventivo y la atención primaria hasta el tratamiento de enfermedades y lesiones pediátricas. Valoramos la importancia de educar a nuestros pacientes y sus familias sobre la salud y el bienestar, y nos esforzamos por empoderarlos con el conocimiento necesario para tomar decisiones informadas sobre su atención médica.</p>
        <h2 class="subtitulo_nosotros">Ambiente Acogedor</h2>
        <p class="parrafo_nosotros">Entendemos lo importante que es para nuestros pequeños pacientes sentirse cómodos y seguros durante sus visitas a la clínica. Por eso, nos esforzamos por crear un ambiente acogedor que fomente la confianza y la comodidad, desde nuestras salas de espera diseñadas especialmente hasta nuestras salas de examen equipadas con tecnología moderna y adecuada para niños.</p>
        <h2 class="subtitulo_nosotros">¡Únete a Nosotros!</h2>
        <p class="parrafo_nosotros">Nos sentimos honrados de ser parte de la vida de tantas familias y de cuidar a sus preciosos hijos. Si estás buscando un equipo médico compasivo y dedicado para tu hijo, ¡no busques más! Programa una cita con nosotros hoy mismo y descubre por qué somos la opción preferida para la atención pediátrica excepcional.</p>
    </div>
</div>
{% endblock contenido %}