{% extends "base.html" %}
{% load static %}
{% block title %}PageContacto{% endblock %}


{% block contenido %}
<aside class="PageContacto">
    <header class="PageContacto_titulo">
        <h1>Puedes Contactarnos a Través de ...</h1>
    </header>
    <section class="PageContacto_box">
        <article class="PageContacto_box_ PageContacto_box_ubicacion">
            <h4 class="PageContacto_box_text PageContacto_box_ubicacion_imagen_text">
                Calle las Magnolias 124, Los Olivos, Peru
            </h4>
            <a href="https://www.google.com/maps?q=Calle+las+Magnolias+124,+Los+Olivos,+Peru" target="_blank" class="PageContacto_box_img PageContacto_box_ubicacion_imagen">
                <i class="bi bi-signpost"></i>
            </a>
        </article>
        <article class="PageContacto_box_ PageContacto_box_numero">
            <h4 class="PageContacto_box_text PageContacto_box_numero_imagen_text">
                905 451 482
            </h4>
            <a href="https://wa.me/51905451482/?text=Hola%20desde%20mi%20sitio%20web" target="_blank" class="PageContacto_box_img PageContacto_box_numero_imagen">
                <i class="bi bi-whatsapp"></i>
            </a>
        </article>
        <article class="PageContacto_box_ PageContacto_box_llamada">
            <h4 class="PageContacto_box_text PageContacto_box_llamada_imagen_text">954 327 233</h4>
            <a href="#" class="PageContacto_box_img PageContacto_box_llamada_imagen">
                <i class="bi bi-telephone"></i>
            </a>
        </article>
    </section>
</aside>

{% endblock contenido %}