{% extends "base.html" %}
{% load static %}
{% block title %}Consejos{% endblock %}
{% block contenido %}

<div class="consejos">
    <h1 class="consejos_titulo">CONSEJOS</h1>
    <form method="post" class="buscador">
        {% csrf_token %}
        <input type="search" placeholder="Busca tu consejo" name="query" id="dd">
        <button type="submit"><i class="bi bi-search" data-clase=""></i></button>
    </form>

    <section class="consejos_box">
        {% if consejo %}
            {% for con in consejo %}
                <article class="consejos_box_card aparecer">
                    <div class="consejos_box_card_img">
                        <div class="consejos_box_card_img_box">
                            <img src="{{con.img.url}}" alt="{{con.titulo}}" >
                        </div>
                        <h3>{{con.especialidad}}</h3>
                        <h4>{{con.fecha}}</h4>
                    </div>

                    <div class="consejos_box_card_text">
                        <h2>{{con.titulo}}</h2>
                        <p>{{con.descripcion | slice:":250"}} ...</p>
                        <a href="{% url 'PageConsejoDetalle' id=con.id %}">ver Consejo</a>
                    </div>
                </article>
                
            {%  endfor %}
        {% else %}
                <p class="advertencia">no hay consejos aún &nbsp;&nbsp;<i class="bi bi-emoji-frown-fill"></i></p>
        {% endif %}
    </section>
</div>

{% endblock contenido %}
