{% extends "base.html" %}
{% load static %}
{% block title %}{{consejo.nombre}}{% endblock %}


{% block contenido %}
<div class="esp_detalle">
    <div class="esp_detalle_box">
        <a href="{% url 'pagina_especialidad' %}" class="volver_especialidades">

            <i class="bi bi-arrow-left-circle-fill">Volver</i>
            
        </a>
        <h1 class="esp_detalle_titulo" >{{consejo.nombre}}</h1>
        <p class="esp_detalle_parrafo" >{{consejo.descripcion}}</p>
        <div class="esp_detalle_img_box">
            <img src="{{consejo.img.url}}" alt="">
        </div>
    </div>
</div>
{% endblock contenido %}